@use '../custom'as *;
@use '../utils/mixins';

.btn-header {
    // BG, BORDER,
    @include button-variant($primary, transparent, $secondary, darken($primary, 10%), transparent, darken($primary, 10%));
    @include button-size(1rem, 5rem, 2rem, 0);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.boton-plan {
    @extend .btn-header;
    border: 1px solid $white;
    font-size: 1.5rem;

    @include media-breakpoint-up(md) {
        display: block;
    }
}