@use '../utils/mixins';
@use '../custom'as *;

.testimoniales {
    h2 {
        @include mixins.headingBorder($secondary, $primary)
    }
}

.testimonial {
    border: .5rem solid $secondary;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 2rem 2rem 2rem 6rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: .5rem;
        top: 2rem;
        width: 5rem;
        height: 5rem;
        display: block;
        background-image: url(../img/comilla.svg);
        background-repeat: no-repeat;
        background-position: center center;
        ;
    }
}